@model KSS.HorseRacing.Models.UserEditViewModel
@{
    ViewBag.Title = "Edit User";
    ViewBag.Title = "Редактировать информацию о пользователе";
}
@Html.Partial("PartialPageHeader")
<div class="row-fluid">
    <div class="offset3 span4">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.UserId)
            <dl class="dl-horizontal">
                <dt>
                    Имя пользователя (логин)
                </dt>
                <dd>
                    @Html.EditorFor(x => x.Username)
                </dd>
            </dl>
    
            <dl class="dl-horizontal">
                <dt>
                    Роль пользователя:
                </dt>
                <dd>
                    @Html.DropDownListFor(x => x.SelectedRoleId, Model.Roles)
                </dd>
            </dl>
            <div class="row-fluid">                
                <input type="submit" class="btn btn-primary span12" value="Подтвердить изменения" />
            </div>
        }
        <div class="row-fluid">
            @Html.ActionLink(/*"Back To List"*/ "Вернуться к списку", "Index", "Admin", null, new { @class = "btn span12" })
        </div>
    </div>
</div>
