@model IEnumerable<KSS.HorseRacing.Models.UsersListModel>
@{
    ViewBag.Title = "Users List";
    ViewBag.Title = "Список всех пользователей";
}
<div class="page-header"></div>
<div class="page-header">
    <h3>
        @*Users List*@
        @ViewBag.Title
    </h3>
</div>
@Html.Partial("PartialCreateNewEntity")
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink(/*"Edit" */"Редактировать", "Edit", new { @id = item.UserId }, new { @class = "btn" })                
                @Html.ActionLink(/*"Delete"*/ "Удалить", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
