@model KSS.HorseRacing.Models.HorseViewModel
@{
    ViewBag.Title = "Delete Horse";
}
<h3>Are you sure you want to delete this horse?</h3>
<fieldset>
    <legend>HorseViewModel</legend>

    <div class="display-label">
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HorseId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nickname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nickname)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateBirth)
    </div>
</fieldset>
@using (Html.BeginForm("DeleteHorse", "Horses"))
{
    <p>
        @Html.HiddenFor(x => x.HorseId)
        <input type="submit" class="btn btn-danger" value="Delete" />        
    </p>
}
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
