@model KSS.HorseRacing.Models.HorseViewModel
@{
    ViewBag.Title = "Edit Horse";
    ViewBag.Title = "Редактировать данные о лошади";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.HiddenFor(x => x.HorseId)
        
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Nickname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nickname)
            @Html.ValidationMessageFor(model => model.Nickname)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.DateBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateBirth)
            @Html.ValidationMessageFor(model => model.DateBirth)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Подтвердить изменения" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(/*"Back to List"*/ "Вернуться к списку", "Index", null, new {@class="btn"})
</div>
