@using KSS.HorseRacing.Infrastucture.DataModels
@model IEnumerable<Horse>
@{
    ViewBag.Title = "List Horses";
    ViewBag.Title = "Список всех лошадей";
}
@Html.Partial("PartialPageHeader")
@Html.Partial("PartialCreateNewEntity", Role.ADMIN)
<table id="sorting-table" class="table table-bordered table-striped table-hover tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <td></td>
            @if (User.IsInRole(Role.ADMIN))
            {
                <td></td>   <td></td>   
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirth)
                </td>
                @if (User.IsInRole(Role.ADMIN))
                {
                    <td>
                        @Html.ActionLink(/*"Edit"*/ "Редактировать", "Edit", new { id = item.Id }, new { @class = "btn" })
                    </td>
                    <td>
                        @Html.ActionLink(/*"Delete"*/ "Удалить", "Delete", new { id = item.Id }, new { @class = "btn" })
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
