@using KSS.HorseRacing.Infrastucture.DataModels
@model IEnumerable<Horse>
@{
    ViewBag.Title = "List Horses";
}
<div class="page-header"></div>
<div class="page-header">
    <h2>Horses List
    </h2>
</div>
@Html.Partial("PartialCreateNewEntity")
<table id="sorting-table" class="table table-bordered table-striped table-hover tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>

            @if (User.IsInRole(Role.ADMIN) || User.IsInRole(Role.JUDGE))
            {
                <td></td>   
            }
            <td></td>
            @if (User.IsInRole(Role.ADMIN))
            {
                <td></td>   
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirth)
                </td>

                @if (User.IsInRole(Role.ADMIN) || User.IsInRole(Role.JUDGE))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" })
                    </td>
                }
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn" })
                </td>
                @if (User.IsInRole(Role.ADMIN))
                {
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn" })
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
