@using KSS.HorseRacing.Infrastucture.DataModels
@model KSS.HorseRacing.Models.RacerDetailsViewModel
@{
    ViewBag.Title = "Racer Details";
}
<div class="page-header"></div>
<div class="page-header">
    <h4>
        @ViewBag.Title
    </h4>
</div>
<div class="row-fluid">
    <div class="offset4 span4">
        <div class="row-fluid well">
            <div class="row-fluid">
                <strong>
                    @Html.DisplayNameFor(model => model.JokeyFullName)
                </strong>
            </div>
            <div class="row-fluid">
                @Html.DisplayFor(model => model.JokeyFullName)
            </div>
            <br />
            <div class="row-fluid">
                <strong>
                    @Html.DisplayNameFor(model => model.JockeyAlias)
                </strong>
            </div>
            <div class="row-fluid">
                @Html.DisplayFor(model => model.JockeyAlias)
            </div>
            <br />
            <div class="row-fluid">
                <strong>
                    @Html.DisplayNameFor(model => model.HorseNickname)
                </strong>
            </div>
            <div class="row-fluid">
                @Html.DisplayFor(model => model.HorseNickname)
            </div>
            <br />
            <div class="row-fluid">
                <strong>
                    @Html.DisplayNameFor(model => model.RacerDateTimeStart)
                </strong>
            </div>
            <div class="row-fluid">
                @Html.DisplayFor(model => model.RacerDateTimeStart)
            </div>
            <br />
            <div class="row-fluid">
                <strong>
                    @Html.DisplayNameFor(model => model.RacerDateTimeEnd)
                </strong>
            </div>
            <div class="row-fluid">
                @Html.DisplayFor(model => model.RacerDateTimeEnd)
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row-fluid">
            <p>
                @if (User.IsInRole(Role.ADMIN) || User.IsInRole(Role.JUDGE))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.RacerId }, new { @class = "btn" })        
                }
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
            </p>
        </div>
    </div>
</div>



