@model KSS.HorseRacing.Models.RacerEditViewModel
@{
    ViewBag.Title = "Edit Racer";
    ViewBag.Title = "Редактировать данные о гонщике";
}
<div class="page-header"></div>
<div class="page-header">
    <h4>
        @ViewBag.Title
    </h4>
</div>
<div class="row-fluid">
    <div class="offset3 span4">
        <div class="well">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x=>x.RacerId)
                <div class="row-fluid">
                    @Html.DisplayNameFor(model => model.SelectedHorseId)
                </div>
                <div class="row-fluid">
                    @Html.DropDownListFor(x => x.SelectedHorseId, Model.ListHorsesForDropDown)
                </div>
                <div class="row-fluid">
                    @Html.DisplayNameFor(model => model.SelectedJockeyId)
                </div>
                <div class="row-fluid">
                    @Html.DropDownListFor(x => x.SelectedJockeyId, Model.ListJockeysForDropDown)
                </div>

                <div class="row-fluid">
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </div>
                <div class="row-fluid">
                    <input type="text" class="with-datepicker " id="StartDateTime" name="StartDateTime" value='@Model.StartDateTime.Date.ToShortDateString().Replace('/', '-')' />
                    @Html.ValidationMessageFor(model => model.StartDateTime)
                </div>
                <div class="row-fluid">
                    @Html.DisplayNameFor(model => model.EndDateTime)
                </div>
                <div class="row-fluid">
                    <input type="text" class=" with-datepicker " id="EndDateTime" name="EndDateTime" value='@(Model.EndDateTime.HasValue ? ((DateTime)Model.EndDateTime).Date.ToShortDateString().Replace('/', '-') : "")' />
                    @Html.ValidationMessageFor(model => model.EndDateTime)
                </div>
                <p>
                    <input type="submit" class="btn btn-primary" value="Подтвердить изменения" />
                </p>
            }
        </div>
        <div class="row-fluid">
            @Html.ActionLink(/*"Back to List"*/ "Вернуться к списку", "Index", null, new { @class = "btn span12" })
        </div>
    </div>

</div>



@Html.Partial("PartialForDatePicker")
