@{
    ViewBag.Title = "Статистика";
}
@Html.Partial("PartialPageHeader")
<p>
    1. Отобрать все заезды, которые проводились в X месяце года Y.
    <br />
    @Html.ActionLink("Выполнить запрос", "SelectRaces", "Home", null, new { @class = "btn" })
</p>
<br />
<br />

<p>
    2. Отобрать участников (псевдоним жокея и кличка лошади) заезда под номером X, проводимого Y числа. 
    <br />
    @Html.ActionLink("Выполнить запрос", "SelectParticipants", "Home", null, new { @class = "btn" })
</p>
<br />
<br />

<p>
    3. Подсчитать сколько раз каждый из коней принимал участие в заездах. 
    <br />
    @Html.ActionLink("Выполнить запрос", "SelectHorseParticipation", "Home", null, new { @class = "btn" })
</p>
<br />
<br />

<p>
    4. Отобрать жокеев, которые занимали призовые места в скачках в X году. 
    <br />
    @Html.ActionLink("Выполнить запрос", "SelectWinnerJokeys", "Home", null, new { @class = "btn" })
</p>
<br />
<br />

<p>
    5. Отобрать участников (псевдоним жокея и кличка лошади), которые чаще всего выигрывали заезды.
    <br />
    @Html.ActionLink("Выполнить запрос", "SelectWinners", "Home", null, new { @class = "btn" })
</p>
<br />
<br />
