@model KSS.HorseRacing.Models.JockeyViewModel
@{
    ViewBag.Title = "Add New Jockey";
    ViewBag.Title = "Добавить нового жокея";
}
@Html.Partial("PartialPageHeader")

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Alias)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Alias)
            @Html.ValidationMessageFor(model => model.Alias)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.DateBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateBirth)
            @Html.ValidationMessageFor(model => model.DateBirth)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Создать" />
        </p>
}
<div>
    @Html.ActionLink(/*"Back to List"*/ "Вернуться к списку", "Index", null, new {@class="btn"})
</div>
