@using KSS.HorseRacing.Infrastucture.DataModels
@model IEnumerable<KSS.HorseRacing.Models.JockeyViewModel>
@{
    ViewBag.Title = "List Jockeys";
    ViewBag.Title = "Список жокеев";
}
@Html.Partial("PartialPageHeader")
@Html.Partial("PartialCreateNewEntity", Role.ADMIN)
<table id="sorting-table" class="table table-bordered table-striped table-hover tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <td></td>
            @if (User.IsInRole(Role.ADMIN))
            {
                <td></td>                                                             
                <td></td>                                                             
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirth)
                </td>
                <td>
                    @Html.ActionLink(/*"Details"*/ "Подробно", "Details", new { id = item.JockeyId }, new { @class = "btn" })
                </td>
                @if (User.IsInRole(Role.ADMIN))
                {
                    <td>
                        @Html.ActionLink(/*"Edit"*/ "Редактировать", "Edit", new { id = item.JockeyId }, new { @class = "btn" })
                    </td>    
                    <td>
                        @Html.ActionLink(/*"Delete"*/ "Удалить", "Delete", new { id = item.JockeyId }, new { @class = "btn" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
