@using KSS.HorseRacing.Infrastucture.DataModels
@model  IEnumerable<KSS.HorseRacing.Models.RaceViewModel>
@{
    ViewBag.Title = "Список всех гонок";
}
@Html.Partial("PartialPageHeader")
@Html.Partial("PartialCreateNewEntity", Role.JUDGE)
<table class="table table-bordered table-hover table-striped tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.RaceId)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.RaceDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.RaceNumberInDay)
            </th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var race in Model)
        {
            <tr>
                <td>
                    @race.RaceId
                </td>
                <td>
                    @race.RaceDateTime
                </td>
                <td>
                    @race.RaceNumberInDay
                </td>
                <td>
                    @Html.ActionLink(/*"Edit"*/ "Редактировать", "Edit", new { id = race.RaceId }, new { @class = "btn" })
                    @Html.ActionLink(/*"Details"*/ "Детали", "Details", new { id = race.RaceId }, new { @class = "btn" })
                    @Html.ActionLink(/*"Delete"*/ "Удалить", "Delete", new { id = race.RaceId }, new { @class = "btn" })
                </td>
            </tr>
        }
    </tbody>

</table>
