@model  IEnumerable<KSS.HorseRacing.Models.RaceViewModel>
@{
    ViewBag.Title = "Races list";
}
<div class="page-header"></div>
<div class="page-header">
    <h4>
        @ViewBag.Title
    </h4>
</div>
@Html.Partial("PartialCreateNewEntity")
<table>
    <tr>
        <th></th>
    </tr>

@foreach (var race in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
