@using System.Web.Optimization
@using KSS.HorseRacing
@using KSS.HorseRacing.Infrastucture.DataModels
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery",
        "~/bundles/bootstrapJs",
        "~/bundles/jqueryval",
        "~/bundles/jqueryval-unob",
        "~/bundles/custom")
    @Styles.Render("~/css/bootstrapCss", "~/css/custom")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">
                    @*Horse Racing*@
                    С.К.А.Ч.К.И.
                </a>
                @if (User.IsInRole(Role.ADMIN))
                {
                    <ul class="nav">
                        @Html.ActionMenuItem(/*"Users List"*/ "Список всех пользователей", "Admin", "Index")
                    </ul>
                }
                <div id="logindisplay">
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>
    </div>
    <div>
        <section id="main" class="container-fluid">
            @RenderBody()
        </section>
    </div>
</body>
</html>
